{% extends "layout.html" %}
{% block titulo %} ArtLand {% endblock %}
{% block contenido %}
<nav class="navbar navbar-expand-lg" style="background-color: #c9ece5">
  <div class="container-fluid">
    <a class="navbar-brand" href="/usuario">
      <img src="{{url_for('static', filename='img/pincel.png')}}" width="30" height="30" class="d-inline-block align-text-top">
      ArtLand 
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav">
      <div class="btn-group dropstart">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle-right" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="padding-right: 40px">
            <img src="data:image/jpeg;base64,{{current_user.fotou}}" width="30" height="30" class="rounded-circle">
            {{current_user.nombre}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/perfil/{{current_user.id}}">Mi Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout">Cerrar Sesion</a></li>
          </ul>
        </li>
      </div>  
    </ul>
  </div>
</nav>
{% with mensajes = get_flashed_messages() %}
  {% if mensajes %}
    {% for msj in mensajes%}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {{ msj }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<br>
<div class="row d-flex justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-10">
    {% for p in publicacion %}
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex flex-start align-items-center">
                            <img class="rounded-circle shadow-1-strong me-3" src="data:image/jpeg;base64,{{p.6}}" alt="avatar" width="60" height="60" />
                            <div>
                              <h6 class="fw-bold text-primary mb-1">{{p.5}}</h6>
                              <p class="text-muted small mb-0">
                                {{p.4}}
                              </p>
                            </div>
                          </div>
              
                          <p class="mt-3 mb-4 pb-2">
                            {{p.2}}
                          </p>

                          <img src="data:image/jpeg;base64,{{p.3}}" height="600" width="900">
                          
                        </div>
                        <p style="margin-left: 20px;" class="text-muted small mb-0">
                          Comentarios
                        </p>
                        {% for c in p[7] %}
                        <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                          <div class="d-flex flex-start w-100">
                            <img class="rounded-circle shadow-1-strong me-3" src="data:image/jpeg;base64,{{c.6}}" alt="avatar" width="40" height="40" />
                            <div class="form-outline w-100">
                              <label class="form-label" for="comentariou">
                                <h6 class="fw-bold text-primary mb-1">{{c.5}}</h6>
                              </label>
                              <p readonly class="form-control-plaintext" id="comentariou" style="background: #fff;">
                                {{c.3}}
                              </p>
                            </div>
                          </div>
                        </div>
                        {% endfor %}

                        <form method="POST" action="/comentarhu/{{p.0}}">
                          <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                            <div class="d-flex flex-start w-100">
                              <img class="rounded-circle shadow-1-strong me-3" src="data:image/jpeg;base64,{{current_user.fotou}}" alt="avatar" width="40" height="40" />
                              <div class="form-outline w-100">
                                <textarea class="form-control" id="textAreaExample" rows="4" style="background: #fff;" maxlength="250" name="comentariou" placeholder="Deja un comentario en la publicacion..." required></textarea>
                              </div>
                            </div>
                            <div class="float-end mt-2 pt-1">
                              <button type="submit" class="btn btn-primary btn-sm">Comentar</button>
                            </div>
                          </div>
                        </form>
                        <br>
                      </div>
                      <br>
    {% endfor %}
  </div>
</div>
{% endblock %}